.git
.github
.gitattributes
.gitignore
.dockerignore
.idea
.fleet
.vscode
.vs
**/bin/
**/obj/
**/obj\\*/
**/node_modules/
**/dist/
.dotnet/
.nuget/
packages/
artifacts/
TestResults/
coverage/
coverage.*
BenchmarkDotNet.Artifacts/
test/
*.binlog
*.coverage
*.coveragexml
*.log
*.nupkg
*.snupkg
*.trx
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
._*
Thumbs.db
